* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    font-size: 22px !important;
    font-weight: bold !important;
}

a {
    text-decoration: none !important;
}

img {
    width: 100%;
    height: auto;
}
.header__wrap {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
}

.header__logo {
    width: 15%;
}

.header__logo img {
    max-height: 150px;
}

.header__menu {
    padding-left: 25px;
    display: flex;
    align-items: center;
}

.header__menu ul li {
    list-style-type: none;
    display: inline-block;
    padding: 15px 5px;
    position: relative;
}

.header__menu a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0;
    color: #fff;
    cursor: pointer;
}

.header__menu a:hover {
    color: #fff;
}

.header__menu ul ul {
    position: absolute;
    top: 125%;
    left: 0;
    z-index: 99;
    display: block;
    background: #fff;
    color: #000;
    width: 250px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.has-child:hover .menu-child {
    visibility: visible;
    opacity: 1
}

.has-child-2:hover .menu-child {
    visibility: visible;
    opacity: 1
}

.menu-child li a {
    color: #191919;
    font-size: 14px;
    font-weight: bold;
    position: relative;
}

.menu-child li a:hover {
    color: #191919;
}

.menu-child {
    padding: 15px;
}

.menu-child li {
    display: block;
    padding: 5px !important;
}

.header__menu ul li::before {
    position: absolute;
    content: '';
    bottom: 10px;
    left: 0;
    width: 100%;
    opacity: 0;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    border-bottom: 4px solid #000;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

.header__menu ul li:hover:before {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}


.header__menu .menu-child li::before {
    bottom: 0px;
}

.has-child:hover .menu-child {
    display: block;
}

.menu-home {
    background: #f5f5f5;
    padding: 80px 0 20px;
    position: relative;
}

.menu-home a {
    text-decoration: none;
    text-transform: uppercase;
}

.menu-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.menu-home__title {
    color: #f68122;
    position: relative;
}

.menu-home__title:after {
    content: '';
    height: 4px;
    background: #191919;
    width: 50%;
    display: block;
}

.menu-list h3 a  {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0;
    color: #000;
}

.menu-list__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-list__item {
    width: calc((100% - 60px) / 3);
    margin-bottom: 30px;
}

.menu-list__item img {
    width: 100%;
    height: auto;
}

.menu-list__image, .menu-list__item h3, .price_product_item {
    margin-bottom: 20px;;
}

.menu-list__btn {
    margin-bottom: 10px;
}

.price_product_item {
    font-weight: bold;
    color: #f68122;
    font-size: 20px;
}

.menu-list__btn {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.btn-action {
    background-color: #f68122;
    border: 1px solid #f68122;
    padding: 7px 10px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.btn-action:hover {
    background-color: #fff;
    color: #f68122;
}

.btn-view {
    border: 1px solid #f68122;
    padding: 7px 10px;
    color: #f68122;
    font-weight: bold;
    margin-left: 30px;
    font-size: 14px;
    text-align: center;
}

.btn-view:hover {
    background-color: #f68122;
    color: #fff;
}

.btn-action, .btn-view {
    display: block;
}

.viewmore-btn {
    color: #fff;
    background-color: #000;
    font-weight: bold;
    padding: 8px 20px;
    border: 1px solid #000;
    text-align: center;
}

.viewmore-btn:hover {
    background-color: transparent;
    color: #000;
}


.banner {
    position: relative;
}

.dots {
    text-align: center;
    position: absolute;
    bottom: 25px;
    left: 50%;
} 

/* Slideshow container */
.slideshow-container {
    position: relative;
}
/* Ẩn các slider */
.mySlides {
      display: none;
}

.mySlides img {
    width: 100%;
    height: auto;
}

/* định dạng các chấm chuyển đổi các slide */
.dot {
    cursor:pointer;
    height: 5px;
    width: 5px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
}
/* khi được hover, active đổi màu nền */
.active, .dot:hover {
    background-color: #717171;
}

/* Thêm hiệu ứng khi chuyển đổi các slide */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}

@-webkit-keyframes fade {
    from {opacity: .0} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.blog-home {
    background: #191919;
    padding: 80px 0 50px;
}

.blog-home__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.blog-home__top .viewmore-btn {
    background-color: #fff;
    color: #f68122;
    border: 1px solid #000;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.blog-home__top .viewmore-btn:hover {
    background-color: #000;
    color: #f68122;
    border: 1px solid #fff;
}

.blog-home__title {
    color: #f68122;
    position: relative;
}

.blog-home__title:after {
    content: '';
    height: 4px;
    background: #fff;
    width: 50%;
    display: block;
}

.blog-home__bottom {
    background-color: #fff;
    padding: 0 30px 30px 30px ;
    margin-bottom: 40px;
}

.blog-home__image {
    margin: 0 -30px;
}

.blog-home__tags {
    color: #f68122;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding-top: 30px;
}

.blog-home__bottom h3 a {
    color: #191919;
    display: block;
    font-size: 22px;
    font-weight: bold;
}

.blog-home__bottom h3 a:hover {
    color: #f68122;
}

.blog-home__bottom .btn-view {
    margin: 0;
    max-width: 200px;
    text-align: center;
    text-transform: uppercase;
}

.blog-home__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog-home__item {
    width: calc((100% - 90px ) / 3)  ;
    background-color: #fff;
}

.blog-home__item h3 a {
    color: #191919;
    font-size: 22px;
    font-weight: bold;
}

.blog-home__item h3 a:hover {
    color: #f68122;
}

.blog-home__item .blog-home__image {
    margin: 0;
}

.blog-home__wrap {
    padding: 30px;
}

.blog-home__content {
    font-size: 14px;
}

.blog-home__item .btn-view {
    margin: 0;
    max-width: 100px;
    text-transform: uppercase;
}

.store {
    padding: 50px 0;
    background-color: #f5f5f5;
}

.store__title {
    color: #f68122;
    position: relative;
    margin-bottom: 50px;
}

.store__title:after {
    content: '';
    height: 4px;
    background: #000;
    width: 5%;
    display: block;
}

.store__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.store__content, .store__image {
    width: 50%;
}

.store__content {
    background-color: #f68122;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 100px 30px;
    color: #fff;
}

.store__sub-title {
    font-size: 22px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.row:after {
    content: '';
    height: 1px;
    background: #fff;
    width: 100%;
    display: block;
}

footer li {
    list-style: none;
    color: #fff;
}

footer a {
    text-decoration: none;
    color: #fff;
}

.footer__image {
    width: 20%;
}

.footer__image img {
    width: 100%;
    height: auto;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
    padding-top: 50px;
}

.footer__item {
    width: calc((100% - 60px ) / 3);
    color: #fff;
    margin-bottom: 20px;
    font-size: 16px;
}

.footer__title {
    margin-bottom: 10px;
}

.footer__bottom {
    padding: 25px 0;
}

.copyright_footer {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.copyright_menu ul {
    display: flex;
    justify-content: space-between;
}

.copyright_menu ul li {
    display: inline-block;
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.copyright_menu ul li:last-child {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
}

.copyright_menu ul li a:hover {
    color: #fff;
}

.footer__top a:hover {
    color: #fff;
}

header, footer {
    background-color: #f68122;
}
